:root {
    --HOVER-COLOR: yellow;
}
#big-card {
    width: 1200px;
    height: auto;
}
#mainbody {
    width: 1200px;
    height: auto;
}
#navbarNav a:hover {
    color: green;
}
h1 {
    font-weight: bolder;
}

#right-side {
    background-color: rgb(12, 12, 51);
}
#right-side h1 {
    color: var(--HOVER-COLOR);
    
}
#right-side section {
    padding-top: 20px;
    padding-left: 10px;
}
#right-side a {
    color: whitesmoke;
    font-size: 18px;
    font-weight: bolder;
}
#right-side a:hover {
    color: var(--HOVER-COLOR);
    text-decoration: none;
}
#right-side hr {
    border: 1px solid white;
}
#right-side p {
    color: whitesmoke;
    font-size: 14px;
}
/* right side padding class */
.rs-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}
#cards {
    border: 0;
}
#cards a:hover {
    color: red;
    text-decoration: none;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
     
    }